/*.container{
    display: flex;
}

.item{
    width: 50%;
    height: 200px;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-item{
        width: 70%;
        height: 23px;
        border-radius: 0.5rem;
        margin: 2px;
}
.btn{
    width: 125px;
    background: #88e478;
    border-radius: 0.9rem;
    height: 25px;
    margin-top: 15px;
}
.Exptable{
    text-align: center;
    width: 100%;
}
.center{
    text-align: center;
}*/


/* chat gpt*/

.container {
    display: flex;
}

.item {
    width: 50%;
    height: 200px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item {
    width: 70%;
    height: 23px;
    border-radius: 0.5rem;
    margin: 2px;
}

.btn {
    width: 125px;
    background: #88e478;
    border-radius: 0.9rem;
    height: 25px;
    margin-top: 15px;
}

.Exptable {
    text-align: center;
    width: 100%;
}

.center {
    text-align: center;
}

/* Media Query for screens with a maximum width of 600px */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .item {
        width: 100%;
    }

    .form-item {
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35px;
    background: whitesmoke;
}

.nav-item {

    font-size: x-large;
    cursor: pointer;
    font-weight: bold;
    margin-right: 45px;
    margin-left: 45px;
}

.user-account {
    float: right;
    width: 180px;
    height: 100px;
    background: whitesmoke;
    border: 1px solid #f3c5c5;
    border-radius: 0.5rem;
}

.user-info {
    margin-top: 16px;
    margin-left: 10px;
    overflow: auto;
}

.lgbtn {
    margin: 11px 46px
}

.user-info .fas {
    margin-top: 6px;
    margin-left: 3px;
}

.user-info .email {
    margin-left: 9px;
}

.user-info .username {
    margin-left: 4px;
}

#overlay {
    display: none;
}
button{
    cursor: pointer;
}